#!/bin/bash

DATE=$(date +"%Y-%m-%d_%H-%M")

mcrcon -H 127.0.0.1 -P 25575 -p '<RCON_PASSWORD>' "save-all flush"

sleep 3

tar -czf /srv/backups/minecraft/minecraft-$DATE.tar.gz \
/srv/games/minecraft

find /srv/backups/minecraft -name "*.tar.gz" -mtime +14 -delete